<table class="table">
    <thead>
        <tr>
            <th class="centered-header">SKU</th>
            <th class="centered-header">Name</th>
            <th class="centered-header">Price</th>
            <th class="centered-header">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productData">
            <td>{{ product.sku }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td class="action-buttons">
                <a [routerLink]="'/products/' + product.id" class="btn btn-success">Update</a>
                <button (click)="handleDelete(product.id!)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
